.red {color:lightcoral}
.green {
    color:rgb(50, 243, 50);
    font-size: large;
}
.blue {
    color:#f7f306;
    font-size: xx-large;
}
.list-group{ 
    font-size:1rem;
    font-size: x-large;
}
.list-group {
    font-size: 1.5rem;
}
.show {
    display:block;
}
.hide {
    display:none;
}
.row {
    /* background-color: #f7f306; */
    border-radius: 20px;
    margin-top: 40px;
}
body {
    background-image: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_2164,w_3845,x_0,y_259/v1554918405/shape/mentalfloss/94735-istock-863607936.jpg?itok=ZYfiTd6J');
}
#heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}